.container{
    border: solid black 5px;
    background-color: bisque;
    display: flex;
    flex-direction: row;

    justify-content: start;
    align-items: start;

    align-content: centre;

    height: 660px;
}
.box{
    height: 150px;
    width: 150px;
    border: solid black 2px;
    margin: 2px;
    padding: 2px;
}
#box1{
    background-color: chartreuse;
    order: 4;
    align-self: center;
}
#box2{
    background-color: crimson;
    order: 3;
}
#box3{
    background-color: coral;
    order: 7;
    align-self: end;
}
#box4{
    background-color: darkcyan;
    order: 5;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.name{
    font-size: 50px;
}
