.container {
  background-color: rgb(243, 243, 178);
  border: solid black 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 660px;
  margin: 20px;
  padding: 20px;
}
.box {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
}
.box1 {
  background-color: coral;
}
.box2 {
  background-color: cornflowerblue;
}
.box3 {
  background-color: crimson;
}
.box4 {
  background-color: rgb(239, 21, 134);
}

@media (max-width: 640px) {
  .container {
    background-color: rgb(243, 243, 178);
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 1200px;
  }
}
